
.wy-side-nav-search { background-color: #eeeeee; }
.wy-nav-top { background-color: #666666; }

.wy-nav-content { max-width: 900px !important; }
.wy-table-responsive table td { white-space: normal !important; }
.wy-table-responsive { overflow: visible !important; }
